# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# Pyre type checker
.pyre/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# If you use Django's collectstatic:
static/

# dotenv environment variables file
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MySQL/MariaDB dumps (if you ever export)
*.sql
*.sql.gz

# Ignore migration cache files, but not migration scripts
**/migrations/__pycache__/
**/migrations/*.pyc

# Ignore all virtual environments and site-packages
AVICAST_WEB_311/
venv/
env/
ENV/
.venv/

# Ignore model files, datasets, and training outputs
models/
runs/
dataset/

# Ignore model file types
*.pt
*.pth
*.h5

# Ignore large archives
*.zip
*.tar.gz
*.tar
*.7z 