{% extends "admindashboard/base.html" %}
{% load static %}

{% block content %}
  <h1 class="dashboard-welcome">Welcome to AVICAST!</h1>

  <div class="dashboard-grid">
    <div class="dashboard-box">
      <i class="fas fa-chart-bar dashboard-icon"></i>
      <h2>Statistical Reports</h2>
      <p>View the latest data and reports.</p>
    </div>
    <div class="dashboard-box">
      <i class="fas fa-map-marker-alt dashboard-icon"></i>
      <h2>Counting Sites</h2>
      <p>Manage sites, birds, and people data collection.</p>
    </div>
    <div class="dashboard-box">
      <i class="fas fa-dove dashboard-icon"></i>
      <h2>Birds Identification</h2>
      <p>Identify and manage bird species.</p>
    </div>
    <div class="dashboard-box">
      <i class="fas fa-list-ul dashboard-icon"></i>
      <h2>List of Birds</h2>
      <p>View detailed bird species descriptions.</p>
    </div>
  </div>
{% endblock %}
